<div class="container">
  <div class="row justify-content-md-center list-group-item-primary">
    <div class="col text-center">
      <h1>bootcamp 2024 angular apex dagg homeworks</h1>
      <br />
    </div>
  </div>

  <div class="row justify-content-md-center list-group-item-info">
    <div class="col"></div>
    <div class="col">
      <br />
      <br />
      <h2>6.- Injectable</h2>
      <br />
      <h1>Module Provider</h1>
      <app-my-injectable></app-my-injectable>
    </div>
    <div class="col"></div>
  </div>
  <div class="row justify-content-md-center list-group-item-secondary">
    <div class="col"></div>
    <div class="col">
      <br />
      <h1>Root Injectable</h1>
      <app-my-injectable2></app-my-injectable2>
      <br />
      <app-my-injectable3></app-my-injectable3>
    </div>
    <div class="col"></div>
  </div>
</div>
